body {
    padding-top: 1rem;
    background-color: #f2f2f2;
}

.starter-template {
    padding: 3rem 0rem;
    text-align: left;
}

img {
    box-shadow: 0 15px 50px rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out;
}

img:hover {
    box-shadow: 0 50px 150px rgba(0, 0, 0, .25);
    transform: translateY(-5px);
}

h6 {
    line-height: 21px;
}
